:root {
  /* ### Primary*/
  
  --Blue: hsl(246, 80%, 60%);
  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange6self-care: hsl(43, 84%, 65%);
  
  /*### Neutral */
  
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
  --White: hsl(0, 100%, 100%);
  
  
  --size: 1rem;
  --radius: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
}


body {
  background-color: var(--Very-dark-blue);
  display: grid;
  place-content: center;
  min-height: 120dvw;
  padding-block: 4rem;
}


aside {
  position: relative;
  min-height: 180px;
  width: 300px;
  background-color: var(--Dark-blue);
  color: var(--White);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: var(--radius);
  padding-inline: calc(var(--size) * 1.2);
  margin-block-end: calc(var(--size) * 3);
}

aside ul {
  padding-block: calc(var(--size) * 1);
}

aside ul li {
  display: inline;
  font-size: 1em;
  color: var(--Pale-Blue);
}

li.active {
  color: var(--White);
}

aside:has(ul > li) li:not(li:last-of-type) {
  margin-right: 3rem;
}

aside .figure {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "img report"
    "img user-name";
  align-content: center;
  grid-column-gap: 0.6rem;
  grid-row-gap: 0.1rem;
  padding-inline: inherit;
  padding-block: inherit;
  position: absolute;
  inset: 0;
  bottom: 35%;
  background-color: var(--Blue);
  color: var(--White);
  border-radius: inherit;
}

.user-img {
  grid-area: img;
  border-radius: calc(var(--radius) * 8);
  width: 70px;
  border: 3px solid var(--White);
}

.user-img+figcaption {
  grid-area: report;
  justify-self: flex-start;
  align-self: flex-end;
  font-weight: 300;
  font-size: 0.9em;
}

h1 {
  grid-area: user-name;
  justify-self: flex-start;
  font-weight: 300;
  font-size: 1.5em;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

.feature {
  width: 300px;
  border-radius: var(--radius);
  position: relative;
  min-height: 150px;
  padding-inline: 0.8rem;
}

.work {
  background-color: var(--Light-red-work);
  background-image: url('../images/icon-work.svg');
  background-position: top right;
  background-origin: content-box;
  background-size: 22%;
  background-repeat: no-repeat;
}

.play {
  background-color: var(--Soft-blue-play);
  background-image: url('../images/icon-play.svg');
  background-position: top right;
  background-origin: content-box;
  background-size: 22%;
  background-repeat: no-repeat;
}

.study {
  background-color: var(--Light-red-study);
  background-image: url('../images/icon-study.svg');
  background-position: top right;
  background-origin: content-box;
  background-size: 22%;
  background-repeat: no-repeat;
}

.exercise {
  background-color: var(--Light-red-work);
  background-image: url('../images/icon-work.svg');
  background-position: top right;
  background-origin: content-box;
  background-size: 22%;
  background-repeat: no-repeat;
}

.social {
  background-color: var(--Violet-social);
  background-image: url('../images/icon-social.svg');
  background-position: top right;
  background-origin: content-box;
  background-size: 22%;
  background-repeat: no-repeat;
}

.self-care {
  background-color: var(--Soft-orange6self-care);
  background-image: url('../images/icon-self-care.svg');
  background-position: top right;
  background-origin: content-box;
  background-size: 22%;
  background-repeat: no-repeat;
}

.tracks {
  position: absolute;
  inset: 0;
  top: 25%;
  border-radius: inherit;
  padding-inline: var(--size);
  padding-block: var(--size);
  display: grid;
  grid-template-areas:
    "type menu"
    "hour stat";
  background-color: var(--Dark-blue);
  color: var(--White);
}

h2 {
  grid-area: type;
}

.menu {
  grid-area: menu;
  justify-self: flex-end;
}

.hours {
  grid-area: hour;
  font-size: 1.8em;
  font-weight: 300;
  align-self: center;
}

.status {
  grid-area: 'stat';
  justify-self: flex-end;
  align-self: center;
  font-weight: 0.7em;
  color: var(--Pale-Blue);
}

@media (min-width: 900px) {
  
  body {
    min-height: 100svh;
  }
  
  .container {
    width: 70vw;
    display: flex;
    gap: 2rem;
    scale: 1.1;
  }
 
  aside {
    justify-content: flex-start;
    margin: 0;
    padding-inline: calc(var(--size) * 1.5);
    padding-block: calc(var(--size) * 1);
    max-width: 230px;
  }
  
  aside .figure {
    display: block;
    padding-inline: inherit;
    padding-block: calc(var(--size) * 1.5);
  }
  
  .user-img + figcaption {
    align-self: flex-start;
    margin-block-start: calc(var(--size) * 1.5);
  }
  
  h1 {
    font-size: 1.8em;
    width: 10ch;
    width: fit-content;
    margin-block-start: calc(var(--size) * 0.1);
  }
  
  aside ul li {
    display: block;
    margin: 0;
  }
  
  aside:has(ul > li) li:not(li:last-of-type) {
    margin-bottom: 1rem;
  }
  
  main {
    flex-grow: 1;
    gap: 2rem; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  
  .feature {
    width: 30%;
    height: 200px;
    flex-grow: 1;
  }
  
  .tracks {
    padding-inline: calc(var(--size) * 1.5);
    top: 20%;
    display: grid;
    grid-template-areas:
      "type menu"
      "hour hour"
      "stat v";
      gap: 1px;
  }
  
  h2 {
    grid-area: type;
    align-self: center;
    font-weight: 500;
    font-size: 1.1em;
  }
  
  img.menu {
    grid-area: menu;
    justify-self: flex-end;
    align-self: center;
  }
  
  div.hours {
    grid-area: hour;
    font-size: 2.2em;
    font-weight: 350;
    align-self: center;
  }
  
  div.status {
    grid-area: stat;
    font-size: 0.75em;
    justify-self: flex-start;
  }
  
}